<div class="container mt-3">
  <div>
    End of round: <input type="number" [(ngModel)]="endOfRound" />
    Bonus: <input type="number" [(ngModel)]="bonus" />
    &nbsp;
    &nbsp;
    <span>Total Bird Points: {{ getPoints().victoryPoints }}</span>
    &nbsp;
    &nbsp;
    <span>Total Eggs: {{ getPoints().eggs }}</span>
    &nbsp;
    &nbsp;
    <span>Total Tucked: {{ getPoints().tucked }}</span>
    &nbsp;
    &nbsp;
    <span>Total Cached: {{ getPoints().tucked }}</span>
    &nbsp;
    &nbsp;
    <span>Total: {{ getPoints().total }}</span>
  </div>
  <div class="row mt-3">
    <div class="col" *ngFor="let score of scores.slice(0, 5)">
      <div class="card" 
           style="border-color: green"
           app-card
           [score]="score"></div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col" *ngFor="let score of scores.slice(5, 10)">
      <div class="card" 
           style="border-color: tan"
           app-card
           [score]="score"></div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col" *ngFor="let score of scores.slice(10, 15)">
      <div class="card" 
           style="border-color: blue"
           app-card
           [score]="score"></div>
    </div>
  </div>
</div>
